 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;


}

header{
    width:750px;
    margin: 20px auto;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 3rem;
}

.logo{
    color:white;
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s

}
.logo:hover{
    transform: scale(1.1);
}

.nav-links{
    display:flex;
    list-style: none;
     gap:20px;
}

.nav-links a{
    color:white;
    text-decoration: none;
}

.visit-btn{
    padding: 8px 20px;
    border-radius: 3rem;
    border: none;
    text-wrap:nowrap;
    transition: 0.3s ease-in-out;
    color:white;
   background: linear-gradient(to right, rgb(0, 157, 255), rgb(255, 0, 255));
}

.visit-btn:hover{
    background: linear-gradient(to right, rgb(255, 0, 255), rgb(0, 157, 255));
    transform: scale(1.03);
}

